.header {
    font-family: fantasy;

    .header-title {
        font-size: 7em;
        background: linear-gradient(to bottom, #94c6e7, #fdf26e);
        background-clip: text; /* Фон внутри текста */
        color: transparent; 
    }
    .text {
        font-size: 2em;
        color: #75bff1;
    }
}